/* global stuff */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    --front-color: hsl(249, 70%, 40%);
    --side-color: hsl(249, 70%, 35%);
    --back-color: hsl(249, 70%, 28%);
    --red-color: rgb(226, 32, 26);
    --yellow-color: rgb(255, 240, 0);
    overflow: hidden;
}

body.player0 {
    --current-color: var(--red-color);
}

body.player1 {
    --current-color: var(--yellow-color);
}

/* utils */

.center {
    text-align: center;
}

.show {
    opacity: 1 !important;
}

/* header */

header {
    background: linear-gradient(
        to top,
        var(--front-color),
        var(--back-color)
    );
    padding: 20px 0px;
    color: white;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 8px #006d;
}

h1 {
    letter-spacing: 1px;
}
h1 span:nth-child(2n) {
    color: var(--red-color);
}

h1 span:nth-child(2n + 1) {
    color: var(--yellow-color);
}

/* status */

#status {
    display: none;
    position: absolute;
    left: 10px;
    top: 25px;
}

.playerIcon {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin: 0px 5px;
    transform: translateY(8px);
    background: var(--current-color);
    box-shadow: 0px 0px 5px #0007;
}

/* menu */

menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 25px;
}

button,
input {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    background: rgb(78, 151, 50);
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 5px;
    box-shadow: 0px 0px 5px #0007;
}

button:hover,
button:focus {
    background: rgb(102, 182, 70);
}

/* scene and game */

#scene {
    margin-top: 65px;
    perspective: 1800px;
}

#scene.grow {
    animation: grow 1s ease forwards;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

#game {
    --rotation-x: 0deg;
    --rotation-y: 0deg;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    transform: rotateX(var(--rotation-x)) rotateY(var(--rotation-y));
    transition: transform 1s ease;
    --width: 7;
    --height: 6;
    --depth: 30px;
}

#game.start {
    --rotation-x: -20deg;
}

/* frame */

.frame.front {
    --frame-color: var(--front-color);
}

.frame.back {
    --frame-color: var(--back-color);
    transform: translateZ(calc(-1 * var(--depth)));
    transform-style: preserve-3d;
}

.frame {
    box-sizing: content-box;
    position: absolute;
    width: calc(var(--width) * 100px);
    height: calc(var(--height) * 100px);
    display: flex;
    flex-wrap: wrap;
    border: 10px solid var(--frame-color);
    outline: 1px solid var(--frame-color);
}

/* sides */

#top,
#bottom {
    position: absolute;
    background: var(--side-color);
    width: calc(var(--width) * 100px + 20px);
    height: var(--depth);
    outline: 1px solid var(--side-color);
}

#bottom {
    transform-origin: bottom;
    transform: translateY(
            calc(var(--height) * 100px - var(--depth) + 20px)
        )
        rotateX(90deg);
}

#left,
#right {
    position: absolute;
    background: var(--side-color);
    width: var(--depth);
    height: calc(var(--height) * 100px + 20px);
    outline: 1px solid var(--side-color);
}

#right {
    transform-origin: left;
    transform: translateX(
            calc(
                0.5 * var(--width) * 100px + 0.5 * var(--depth) + 10px
            )
        )
        rotateY(90deg);
}

#left {
    transform-origin: right;
    transform: translateX(
            calc(
                -0.5 * var(--width) * 100px - 0.5 * var(--depth) - 10px
            )
        )
        rotateY(-90deg);
}

/* hole */

.hole {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1) inset;
}

.hole {
    background: radial-gradient(
        transparent 41px,
        rgba(255, 255, 255, 0.15) 42px,
        var(--frame-color) 43px
    );
}

#game:not(.duringMove) .hole.open:hover {
    cursor: pointer;
    background: radial-gradient(
        var(--current-color) 41px,
        var(--frame-color) 42px
    );
}

/* inner and chips */

#inner {
    --chip-depth: 20px;
    position: relative;
    display: flex;
    width: calc(var(--width) * 100px + 20px);
    height: calc(var(--height) * 100px + 20px);
    padding: 10px;
    transform: translateZ(
        calc(-0.5 * var(--depth) + 0.5 * var(--chip-depth))
    );
    transform-style: preserve-3d;
}

.chip {
    --col: 0;
    --row: 0;
    transform-style: preserve-3d;
    position: absolute;
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 50%;
    transition: transform 600ms ease-in;
    transform: translate(
        calc(var(--col) * 100px),
        calc(var(--row) * 100px)
    );
}

.chip.highlight,
.chip.highlight:before {
    animation: highlight-animation 1s ease-in-out infinite;
}

@keyframes highlight-animation {
    0% {
        box-shadow: 0px 0px 0px var(--highlight-color) inset;
    }
    50% {
        box-shadow: 0px 0px 40px var(--highlight-color) inset;
    }
    100% {
        box-shadow: 0px 0px 0px var(--highlight-color) inset;
    }
}

.chip:before {
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    transform: translateZ(calc(-1 * var(--chip-depth)));
}

.chip.yellow {
    background: radial-gradient(
        hsl(54, 97%, 68%) 20%,
        hsl(54, 97%, 48%) 35%,
        hsl(54, 97%, 56%) 40%,
        hsl(54, 97%, 56%) 45%,
        hsl(54, 97%, 48%) 50%,
        hsl(54, 97%, 54%) 59%,
        hsl(54, 97%, 50%) 100%
    );
    --highlight-color: rgba(255, 0, 0, 0.7);
}

.chip.red {
    background: radial-gradient(
        hsl(0, 97%, 60%) 20%,
        hsl(0, 97%, 48%) 35%,
        hsl(0, 97%, 56%) 40%,
        hsl(0, 97%, 56%) 45%,
        hsl(0, 97%, 48%) 50%,
        hsl(0, 97%, 54%) 59%,
        hsl(0, 97%, 50%) 100%
    );
    --highlight-color: rgba(255, 255, 0, 0.7);
}

/* modal */

#modal {
    z-index: 20;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
}

#modalContent {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;
}

form > div {
    margin: 15px 0px;
}

form input {
    width: 300px;
    padding: 10px;
    margin: 0px 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
}

form button {
    box-shadow: none;
}

form input:focus {
    border: 1px solid var(--front-color);
}

.error {
    padding: 10px;
    color: red;
    font-weight: bold;
}

/* media queries */

@media (max-width: 1200px) {
    header {
        height: 150px;
    }
    #status,
    menu {
        top: unset;
        bottom: 15px;
    }
}
