#inner {
    --chip-depth: 2 * var(--border-size);
    position: absolute;
    width: calc(
        var(--cols) * var(--slot-size) + 2 * var(--border-size)
    );
    height: calc(
        var(--rows) * var(--slot-size) + 2 * var(--border-size)
    );
    padding: var(--border-size);
    transform: translateZ(
        calc(-0.5 * var(--depth) + 0.5 * var(--chip-depth))
    );
    transform-style: preserve-3d;
}

.chip {
    --col: 0;
    --row: 0;
    transform-style: preserve-3d;
    position: absolute;
    width: calc(0.9 * var(--slot-size));
    height: calc(0.9 * var(--slot-size));
    margin: calc(0.05 * var(--slot-size));
    border-radius: 50%;
    transition: transform ease-in, opacity linear;
    transition-duration: 60ms;
    transform: translate(
        calc(var(--col) * var(--slot-size)),
        calc(var(--row) * var(--slot-size))
    );
}

.chip.fall {
    transition-duration: 600ms;
}

.chip.highlight,
.chip.highlight:before {
    animation: highlight-animation 1s ease-in-out infinite;
}

@keyframes highlight-animation {
    0% {
        box-shadow: 0px 0px 0px var(--highlight-color) inset;
    }
    50% {
        box-shadow: 0px 0px calc(0.4 * var(--slot-size))
            var(--highlight-color) inset;
    }
    100% {
        box-shadow: 0px 0px 0px var(--highlight-color) inset;
    }
}

.chip:before {
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    transform: translateZ(calc(-1 * var(--chip-depth)));
}

.chip.yellow {
    background: radial-gradient(
        hsl(54, 97%, 68%) 20%,
        hsl(54, 97%, 48%) 35%,
        hsl(54, 97%, 56%) 40%,
        hsl(54, 97%, 56%) 45%,
        hsl(54, 97%, 48%) 50%,
        hsl(54, 97%, 54%) 59%,
        hsl(54, 97%, 50%) 100%
    );
    --highlight-color: rgba(255, 0, 0, 0.7);
}

.chip.red {
    background: radial-gradient(
        hsl(0, 97%, 60%) 20%,
        hsl(0, 97%, 48%) 35%,
        hsl(0, 97%, 56%) 40%,
        hsl(0, 97%, 56%) 45%,
        hsl(0, 97%, 48%) 50%,
        hsl(0, 97%, 54%) 59%,
        hsl(0, 97%, 50%) 100%
    );
    --highlight-color: rgba(255, 255, 0, 0.7);
}
