.frame.front {
    --frame-color: var(--front-color);
}

.frame.back {
    --frame-color: var(--back-color);
    transform: translateZ(calc(-1 * var(--depth)));
    transform-style: preserve-3d;
}

.frame {
    box-sizing: content-box;
    position: absolute;
    width: calc(var(--cols) * var(--slot-size));
    height: calc(var(--rows) * var(--slot-size));
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    border: var(--border-size) solid var(--frame-color);
    outline: 1px solid var(--frame-color);
}

#top,
#bottom {
    position: absolute;
    background: var(--side-color);
    width: calc(
        var(--cols) * var(--slot-size) + 2 * var(--border-size)
    );
    height: var(--depth);
    outline: 1px solid var(--side-color);
}

#bottom {
    transform-origin: bottom;
    transform: translateY(
            calc(
                var(--rows) * var(--slot-size) - var(--depth) +
                    (2 * var(--border-size))
            )
        )
        rotateX(90deg);
}

#left,
#right {
    position: absolute;
    background: var(--side-color);
    width: var(--depth);
    height: calc(
        var(--rows) * var(--slot-size) + 2 * var(--border-size)
    );
    outline: 1px solid var(--side-color);
}

#right {
    transform-origin: left;
    transform: translateX(
            calc(
                0.5 * var(--cols) * var(--slot-size) + 0.5 *
                    var(--depth) + var(--border-size)
            )
        )
        rotateY(90deg);
}

#left {
    transform-origin: right;
    transform: translateX(
            calc(
                -0.5 * var(--cols) * var(--slot-size) - 0.5 * var(
                        --depth
                    ) - var(--border-size)
            )
        )
        rotateY(-90deg);
}
